body {
    background-color: #2499AC;
}

.navbar-brand {
    position: relative;
    left: -15px;
}
.user-image {
    float: right;
    margin-right: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    float: left;
    right: 50px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-image:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.col-md-8 {
    background-color: #DDEFF2;
    border-radius: 10px;
    margin-right: 35px;
    margin-top: 20px;
    
}

#your-library {
    color: #06242F;
    float: left;
    font-weight: 200;
}

#discover {
    float: right;
    margin-top: 10px;
    padding: 5px 20px;
    border-radius: 25px;
    border: none;
    background-color: #25AD72;
    color: #FFFFFF;
    font-weight: 200;    
}

#discover:hover {
    opacity: 0.9;
}

#grid-library {
    padding-bottom: 20px;
}

#grid-library img {
    margin: 5px;
    height: 70px;
    width: 70px;
    position: relative;
    cursor: pointer;
}


#grid-library img:hover {
    opacity: 0.5; 
}

.col-md-3 {
    background-color: #DDEFF2;
    margin-top: 20px;
    position: relative;
    right: -30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#myActivity {
    font-weight: 200;
}

#topOne {
    font-size: 12px;
    font-weight: bold;
}

#bottomOne {
    font-size: 12px;
}

#activity p1 {
    position: relative;
    top: 15px;
}

#activity a {
    color: #2499AC;
    font-size: 12px;
}


#activity li {
    text-decoration: none;
    list-style: none;
}
#activity li img {
    float: left;
    height: 70px;
    width: 70px;
    margin: 5px;
}

.footer {
    background-color: #063943;
}

.activityButton {
    color: #FFFFFF;
    background-color: #ADADAD;
    border-radius: 25px;
    font-weight: 200;
    padding: 5px 20px;
    border: none;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.footer li {
    list-style: none;
}

#footerAlbum {
    width: 70px;
    height: 70px;
    margin: 20px 10px;
    float: left;
}

#trackDetails{
    color: #FFFFFF;
    padding-top: 25px;
}

#playShuffleRepeat {
    width: 20px;
    height: 20px;
    
}

.col-sm-3 img {
    width: 70px;
    height: 70px;
    margin: 20px 10px;
    float: left;
}

.col-sm-3 p2 {
    color: #FFFFFF;
    position: relative;
    top: 30px;
}

.col-sm-3 a {
    color: #C6C6C6;
    font-size: 12px;
}




/* Media Queries */

@media all and (max-width: 580px) {
    
body {
    background-color: #2499AC;
}

    /*navbar*/
    
.navbar-brand {
    position: relative;
    left: -15px;
}
.user-image {
    float: right;
    margin-right: 0px;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index: 1;
    border-radius: 10px;
    float: left;
    right: 0px;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-size: 10px;
}

.dropdown-content img {
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.user-image:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

    /*end navbar*/
    
    
.col-md-8 {
    background-color: #DDEFF2;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 10px;
    
}

#your-library {
    color: #06242F;
    float: left;
    font-weight: 100;
    font-size: 30px;
}

#discover {
    float: right;
    margin-top: 0;
    padding: 2px 10px;
    border-radius: 15px;
    border: none;
    background-color: #25AD72;
    color: #FFFFFF;
    font-weight: 100;    
}

#discover:hover {
    opacity: 0.9;
}

#grid-library {
    padding-bottom: 10px;
}

#grid-library img {
    margin: 3px;
    height: 45px;
    width: 38px;
    position: relative;
    cursor: pointer;
}


#grid-library img:hover {
    opacity: 0.5; 
}

.col-md-3 {
    background-color: #DDEFF2;
    margin-top: 20px;
    position: relative;
    right: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 150px;
    
}
#myActivity {
    font-weight: 100;
    font-size: 30px;
}

#topOne {
    font-size: 10px;
    font-weight: bold;
    position: relative;    

}

#bottomOne {
    font-size: 10px;
    position: relative;
    top: -10px;    
}


#activity p1 {
    position: relative;
    top: 5px;
}

#activity a {
    color: #2499AC;
    font-size: 10px;
    position: relative;
    top: -10px;
}


#activity li {
    text-decoration: none;
    list-style: none;
}
#activity li img {
    float: left;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.footer {
    background-color: #063943;
}

.activityButton {
    color: #FFFFFF;
    background-color: #ADADAD;
    border-radius: 15px;
    font-weight: 100;
    padding: 3px 10px;
    border: none;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    
}

.col-md-9 {
    float: left;
}
    
.footer li {
    list-style: none;
}

#footerAlbum {
    width: 40px;
    height: 40px;
    margin: 10px 5px;

}

#trackDetails{
    color: #FFFFFF;
    padding-top: 10px;
    display: none;
}

#playShuffleRepeat {
    width: 10px;
    height: 10px;
    position: relative;
    left: 50px;
    bottom: 30px;
}

.col-sm-3 img {
    width: 40px;
    height: 40px;
    margin: 10px 5px;
    float: right;
}

.col-sm-3 p2 {
    color: #FFFFFF;
    position: relative;
    top: 15px;
    display: none;
}

.col-sm-3 a {
    color: #C6C6C6;
    font-size: 8px;
}

}